{% load staticfiles %}
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="author" content="zzq"> 

  <title>课程点评网</title>

  <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
  <link href="{% static 'img/icon.png' %}" rel="icon">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/myjquery.js' %}"></script>
</head>

<body>
	<div class="jumbotron">
	  <div class="container">
		<h1>页面呢！</h1>
	  	<p>SJTU Course好像找不到这个页面了……</p>
	  	<p>是不是没登录啊！亲！</p>
	  </div>
	</div>
</body>
</html>
