.rating {
	margin: 2em;
	clear: both;
	display: block;
}
.rating:after {
	content: '.';
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden;
}
.cancel,
.star {
	float: left;
	width: 17px;
	height: 15px;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer;
}
.star-left,
.star-right {
  width: 8px
}

.star,
.star p {background: url(/static/img/star.gif) no-repeat 0 0px;}
.star-left,
.star-left p {background: url(/static/img/star-left.gif) no-repeat 0 0px;}
.star-right,
.star-right p {background: url(/static/img/star-right.gif) no-repeat 0 0px;}
	
.cancel p,
.star p {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0px;
}

div.rating div.on p {
	background-position: 0 -16px;
}
div.rating div.hover p {
	background-position: 0 -32px;
}