{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="login">
    <meta name="author" content="lyw">
		<link href="{% static 'img/icon.png' %}" rel="icon">

		<title>课程点评网</title>

		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="../../docs-assets/js/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
    {% csrf_token %}
    <div class="row" style="background-color:#003377;color:white">
      <div class="col-sm-3">
        <h1 style="padding-left:100px;">课程点评网</h1>
      </div>
      <form style="margin-top:20px;">
        <div class="col-sm-2 col-sm-offset-3">
          <div class="form-group">
            <div class="enterl">
              <input type="text" class="form-control" id="username" placeholder="昵称/邮箱">
            </div>
            <strong><p id="un_prompt"></p></strong>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <div class="enterl">
              <input type="password" class="form-control" id="passwordl" placeholder="密码">
            </div>
            <strong><p id="psw_prompt"></p></strong>
            <p style="text-align:right;"><a href="/setpassword/">忘记密码？</a></p>
          </div>
        </div>
        <div class="col-sm-1">
          <button id="login" class="btn btn-primary">登录</button>
        </div>
      </form>
    </div><!-- first row -->

    <div class="row">
      <div class="col-sm-4" style="padding-left:100px;padding-top:100px;">
        <h3>这里是专为交大同学打造<br/>
        真实可靠的课程点评平台</h3>
        <p style="margin-top:50px;">在这里你可以分享你的课程经历，<strong>提升校园影响力</strong>；</p>
        <p>在这里你可以查看各类课程信息，<strong>全面了解课程。</strong></p>
        <p>最快捷的课程搜索！   最人性化的点评方式！</p>
        <p>只为你！</p>
        <p>加入我们，给SJTU留下点儿我们<strong>专属的印记</strong>！</p>
      </div><!-- first column -->

      <div class="col-sm-4">
        <h4 style="padding-top:60px;">还在用教评？那你out啦！</h4>
        <ul class="list-group" id="float_comment" style="position:absolute;">
          <li class="list-group-item" style="border-color:#AAAAAA" id="comment1">
            <div class="row">
              <div class="col-sm-3">
                <h5><strong id="course_name1"></strong></h5>
                <p id="professor_name1"></p>
                <p class="text-warning" id="course_level1"></p>
              </div>
              <div class="col-sm-9">
                <h5 style="text-indent:2em;line-height:20pt;border:solid 1px #DDDDDD;border-radius:10px;padding:10px;word-break:break-all;" id="comment_content1"></h5>
                <h4 style="text-align:right;white-space:pre;"><small id="comment_info1"></small></h4>
              </div>
            </div>
          </li>
          <li class="list-group-item" style="border-color:#AAAAAA" id="comment2">
            <div class="row">
              <div class="col-sm-3">
                <h5><strong id="course_name2"></strong></h5>
                <p id="professor_name2"></p>
                <p class="text-warning" id="course_level2"></p>
              </div>
              <div class="col-sm-9">
                <h5 style="text-indent:2em;line-height:20pt;border:solid 1px #DDDDDD;border-radius:10px;padding:10px;word-break:break-all;" id="comment_content2"></h5>
                <h4 style="text-align:right;white-space:pre;"><small id="comment_info2"></small></h4>
              </div>
            </div>
          </li>
          <li class="list-group-item" style="border-color:#AAAAAA" id="comment3">
            <div class="row">
              <div class="col-sm-3">
                <h5><strong id="course_name3"></strong></h5>
                <p id="professor_name3"></p>
                <p class="text-warning" id="course_level3"></p>
              </div>
              <div class="col-sm-9">
                <h5 style="text-indent:2em;line-height:20pt;border:solid 1px #DDDDDD;border-radius:10px;padding:10px;word-break:break-all;" id="comment_content3"></h5>
                <h4 style="text-align:right;white-space:pre;"><small id="comment_info3"></small></h4>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- second column -->

      <div class="col-sm-4">
        <form class="form-horizontal" style="padding-top:100px;">
          <div class="form-group">
            <label for="account" class="col-sm-3 control-label">邮箱<span id="help1" class="help-block"></span></label>
            <div class="input-group col-sm-6">
              <input type="text" class="form-control enter" id="account" placeholder="邮箱">
              <span class="input-group-addon">@sjtu.edu.cn</span>
            </div>
            <div class="col-sm-3">
              <label for="account" id="ac_prompt"></label>
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">昵称<span id="help2" class="help-block"></span></label>
            <div class="enter col-sm-6">
              <input type="text" class="form-control" id="name" placeholder="昵称">
            </div>
            <div class="col-sm-3">
              <label for="name" id="nm_prompt"></label>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-3 control-label">密码<span id="help3" class="help-block"></span></label>
            <div class="col-sm-6 enter">
              <input type="password" class="form-control" id="password" placeholder="密码">
            </div>
            <div class="col-sm-3">
              <label for="password" id="pw_prompt"></label>
            </div>
          </div>

          <div class="form-group">
            <label for="cpassword" class="col-sm-3 control-label">确认密码</label>
            <div class="col-sm-6 enter">
              <input type="password" class="form-control" id="cpassword" placeholder="确认密码">
            </div>
            <div class="col-sm-3">
              <label for="cpassword" id="cpw_prompt"></label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-7">
              <button id="register" class="btn btn-primary">注册</button>
            </div>
          </div>
        </form>

        <div class="modal" id="regInfo">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">确认信息</h4>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirm">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- third column -->
    </div><!-- second row -->
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/myjquery.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
    <script>
      var curcom=3;
      $(document).ready(function(){
        $.csrftoken();
        comment_get_all();
        setInterval("refresh_comment()",5000);
      });
      function login_post(){
        $.post("/",
        {
          username:$("#username").val().toLowerCase(),
          password:hex_md5($("#passwordl").val())
        },
        function(data){
          if (data=='password'){
            $("#psw_prompt").html("密码错误！");
            $("#psw_prompt").attr("class","text-danger control-label");
            $("#psw_prompt").attr("style","margin-bottom:-0.7em;");
            $("#un_prompt").html("");
          }
          else
            if (data=='username'){
              $("#un_prompt").html("昵称或邮箱不存在！");
              $("#un_prompt").attr("class","text-danger control-label");
              $("#psw_prompt").html("");
              $("#psw_prompt").attr("style","");
            }
          else{
            window.location.assign("/"+data+"/");
          }
        });
      }
      function comment_get_all(){
        for (var i=1;i<=3;i++){
          $.get("/userpage/getrandomcomment/",
            function(data){
              var obj=JSON.parse(data);
              $("#course_name"+i).html(obj.lecture.course_name);
              $("#professor_name"+i).html(obj.lecture.professor_name);
              $("#course_level"+i).html(obj.lecture.level);
              $("#comment_content"+i).html(obj.comment_content);
              $("#comment_info"+i).html(obj.comment_user+"      "+obj.comment_time+"      有用 ("+obj.comment_super_number+")");
            }
          );
        }
      }
      function comment_get_one(){
        $.get("/userpage/getrandomcomment/",
          function(data){
            var obj=JSON.parse(data);
            $("#course_name"+curcom).html(obj.lecture.course_name);
            $("#professor_name"+curcom).html(obj.lecture.professor_name);
            $("#course_level"+curcom).html(obj.lecture.level);
            $("#comment_content"+curcom).html(obj.comment_content);
            $("#comment_info"+curcom).html(obj.comment_user+"      "+obj.comment_time+"      有用 ("+obj.comment_super_number+")");
          }
        );
        var s=$("#comment"+curcom).clone();
        $("#comment"+curcom).remove();
        $("#float_comment").prepend(s);
      }
      $("#username").change(function(){
        $("#un_prompt").html("");
        $("#psw_prompt").html("");
        $("#psw_prompt").attr("style","");
      });
      $("#passwordl").change(function(){
        $("#psw_prompt").html("");
        $("#psw_prompt").attr("style","");
      });
      function check(){
        var blank=0;
        if ($("#username").val()==""){
          $("#un_prompt").html("请填写昵称或邮箱！");
          $("#un_prompt").attr("class","text-warning control-label");
          blank=1;
        }
        if ($("#passwordl").val()==""){
          $("#psw_prompt").html("请输入密码！");
          $("#psw_prompt").attr("class","text-warning control-label");
          $("#psw_prompt").attr("style","margin-bottom:-0.7em;");
          blank=1;
        }
        if (blank)
          return false;
        return true;
      }
      function refresh_comment(){
        $("#comment"+curcom).animate({
          opacity:'0'
        },"slow",function(){
          comment_get_one();
          if (--curcom==0)
            curcom=3;
          /*$("#comment"+curcom).animate({
            top:'+=80px'
          },"slow");*/
          if (--curcom==0)
            curcom=3;
          // $("#comment"+curcom).animate({
          //   top:'+=80px'
          // },"slow",function(){
            if (--curcom==0)
              curcom=3;
            $("#comment"+curcom).animate({
              opacity:'1'
            },"slow");
            if (--curcom==0)
              curcom=3;
          //});
        });
      }
      var last=0;
      $(".enterl").keydown(function(e){
        if (e.keyCode==40||e.keyCode==38)
          last=1;
        else{
          if (e.keyCode==13&&last==0)
          {
            e.preventDefault();
            $("#username").trigger("blur");
            $("#passwordl").trigger("blur");
            if (check())
              login_post();
          }
          last=0;
        }
      });
      $("#login").click(function(e){
        e.preventDefault();
        if (check())
          login_post();
      });
    </script>
	</body>
</html>