{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="login">
    <meta name="author" content="lyw">
    <link href="{% static 'img/icon.png' %}" rel="icon">

    <title>注册成功 &middot; 课程点评网</title>

  	<!-- Bootstrap core CSS -->
  	<link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="../../docs-assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">

      <div class="page-header">
        <h1>注册成功 &middot; 课程点评网</h1>
        <p class="lead">让选课更欢乐</p>
      </div>

      <h1>欢迎 {{ u.name }}！您已成功注册！</h1>
      <h3></h3>
    </div><!-- container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/myjquery.js' %}"></script>
    <script>
      var t=5;
      function decreaseT(){
        $("h3").html(t--+"秒后跳转至主页");
        if (t<0){
          window.location.assign("/");
          return;
        }
        setTimeout("decreaseT()",1000);
      }
      decreaseT();
    </script>
  </body>
</html>