{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="login">
    <meta name="author" content="lyw">
    <link href="{% static 'img/icon.png' %}" rel="icon">

		<title>课程点评网</title>

		<!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="../../docs-assets/js/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
    {% csrf_token %}
    <div class="container">
      <nav class="navbar navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">课程点评网</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">课程排行</a></li>
            <li><a href="#">课程交易</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">课程分类 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">人文通识</a></li>
                <li><a href="#">社科通识</a></li>
                <li><a href="#">自然通识</a></li>
                <li class="divider"></li>
                <li><a href="#">必修课</a></li>
                <li class="divider"></li>
                <li><a href="#">任选课</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group dropdown" style="width:300px;">
              <input type="text" class="form-control" id="search" autocomplete="off" placeholder="来这里找课！">
              <ul class="dropdown-menu" id="complete" style="width:100%;border-radius:0px;margin-top:-1px;"></ul>
            </div>
            <button type="submit" id="submit" class="btn btn-default">搜索</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a>{{ u.name }}</a></li>
            <li><a href="/setpassword/">修改密码</a></li>
            <li><a href="/logout/">退出</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div class="col-sm-9">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          
          <div class="carousel-inner">
            <div class="item active">
              <img src="{% static 'img/slide0' %}">
              <div class="carousel-caption">
                <h3><a href="/lecture/1/">算法与复杂性</a></h3>
                <p>陈翌佳</p>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'img/slide1' %}">
              <div class="carousel-caption">
                <h3><a href="/lecture/2/">编译原理</a></h3>
                <p>吴帆</p>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'img/slide2' %}">
              <div class="carousel-caption">
                <h3><a href="/lecture/3/">软件工程</a></h3>
                <p>盛斌</p>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">&lt;</a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">&gt;</a>
        </div><!-- carousel -->
      </div>
      
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">必修课排行</div>
          <table class="table">
            <thead>
              <tr>
                <th></th> <th>课程名</th> <th>老师</th> <th>评分</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td> <td><a href="/lecture/1/">算法与复杂性</a></td> <td>陈翌佳</td> <td>5</td>
              </tr>
              <tr>
                <td>2</td> <td><a href="/lecture/2/">编译原理</a></td> <td>吴帆</td> <td>3</td>
              </tr>
              <tr>
                <td>3</td> <td><a href="/lecture/3/">软件工程</a></td> <td>盛斌</td> <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">必修课排行</div>
          <table class="table">
            <thead>
              <tr>
                <th></th> <th>课程名</th> <th>老师</th> <th>评分</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td> <td><a href="/lecture/1/">算法与复杂性</a></td> <td>陈翌佳</td> <td>5</td>
              </tr>
              <tr>
                <td>2</td> <td><a href="/lecture/2/">编译原理</a></td> <td>吴帆</td> <td>3</td>
              </tr>
              <tr>
                <td>3</td> <td><a href="/lecture/3/">软件工程</a></td> <td>盛斌</td> <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">必修课排行</div>
          <table class="table">
            <thead>
              <tr>
                <th></th> <th>课程名</th> <th>老师</th> <th>评分</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td> <td><a href="/lecture/1/">算法与复杂性</a></td> <td>陈翌佳</td> <td>5</td>
              </tr>
              <tr>
                <td>2</td> <td><a href="/lecture/2/">编译原理</a></td> <td>吴帆</td> <td>3</td>
              </tr>
              <tr>
                <td>3</td> <td><a href="/lecture/3/">软件工程</a></td> <td>盛斌</td> <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">必修课排行</div>
          <table class="table">
            <thead>
              <tr>
                <th></th> <th>课程名</th> <th>老师</th> <th>评分</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td> <td><a href="/lecture/1/">算法与复杂性</a></td> <td>陈翌佳</td> <td>5</td>
              </tr>
              <tr>
                <td>2</td> <td><a href="/lecture/2/">编译原理</a></td> <td>吴帆</td> <td>3</td>
              </tr>
              <tr>
                <td>3</td> <td><a href="/lecture/3/">软件工程</a></td> <td>盛斌</td> <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/myjquery.js' %}"></script>
    <script>
      $(document).ready(function(){
        $.csrftoken();
      });
      var len=0;
      function auto_complete_post(){
        $.post("/search/lecture/autocomplete/",
          {
            content:$("#search").val()
          },
          function(data){
            var s=data.split("\n");
            $("#complete").html(function(){
              var list="",l=$("#search").val().length;
              for (var i=0;i<s.length;i++){
                list=list+"<li><a href='#' style='padding-left:13px;'>";
                for (var j=0;j<l;j++)
                  list=list+s[i][j];
                list=list+"<b>";
                for (var j=l;j<s[i].length;j++)
                  list=list+s[i][j];
                list=list+"</b></a></li>";
              }
              return list;
            });
            $("#complete").find("a").mousedown(function(){
              $("#search").val($(this).html().replace("<b>","").replace("</b>",""));
              $("#complete").hide();
              hid=1;
              search_post();
            });
            $("#complete").children().mouseenter(function(){
              $(this).parent().children().eq(cur).find("a").attr("style","padding-left:13px;color:#333333;background-color:#ffffff;");
              $(this).find("a").attr("style","padding-left:13px;color:#333333;background-color:#ebebeb;");
              cur=$(this).index();
            });
            if (s[0]==""||(s.length==1&&s[0]==$("#search").val())){
              len=0;
              $("#complete").hide();
              hid=1;
            }
            else{
              len=s.length;
              cur=-1;
              origin_val=$("#search").val();
              $("#complete").show();
              hid=0;
            }
          }
        );
      }
      function search_post(){
        $.post("/search/lecture/",
          {
            content:$("#search").val()
          },
          function(data){
            window.location.assign(data);
          }
        );
      }
      function change_course_get(){
        $.get("/userpage/change/",function(data){
          var s=data.split("\n");
          for (var i=0;i<3;i++){

          }
        });
      }
      var curSlide=0;
      // function change_slides(){
      //   var nextSlide=curSlide+1;
      //   if (nextSlide==3)
      //     nextSlide=0;
      //   var indicator=$(".carousel-indicators").children();
      //   var curInn=$(".carousel-inner").children().eq(curSlide),
      //       nextInn=$(".carousel-inner").children().eq(nextSlide);
      //   indicator.eq(curSlide).attr("class","");
      //   curInn.attr("class","item active left");
      //   nextInn.attr("class","item next left");
      //   setTimeout("",1000);
      //   indicator.eq(nextSlide).attr("class","active");
      //   curInn.attr("class","item");
      //   nextInn.attr("class","item active");
      //   curSlide=nextSlide;
      //   setTimeout("change_slides",3000);
      // }
      var clr=0,laststr="",origin_val="",cur=0,hid=0;
      $("#search").focus(function(){
        clr=setInterval("auto_complete()",500);
      });
      $("#search").blur(function(){
        clearInterval(clr);
        $("#complete").hide();
        hid=1;
      });
      $("#search").keydown(function(e){
        if (e.keyCode==40||e.keyCode==38){
          e.preventDefault();
          if (hid==1){
            laststr="";
            return;
          }
          var nxt;
          if (e.keyCode==40){
            nxt=cur+1;
            if(nxt==len)
              nxt=-1;
          }
          else{
            nxt=cur-1;
            if (nxt<-1)
              nxt=len-1;
          }
          if (cur>=0)
            $("#complete").children().eq(cur).find("a").attr("style","padding-left:13px;color:#333333;background-color:#ffffff;");
          if (nxt>=0){
            var li=$("#complete").children().eq(nxt).find("a");
            li.attr("style","padding-left:13px;color:#333333;background-color:#ebebeb;");
            $("#search").val(li.html().replace("<b>","").replace("</b>",""));
          }
          else
            $("#search").val(origin_val);
          laststr=$("#search").val();
          cur=nxt;
        }
        else if (e.keyCode==13){
          e.preventDefault();
          search_post();
        }
        else if (e.keyCode==27){
          if (hid==0){
            hid=1;
            $("#complete").hide();
          }
        }
      });
      function auto_complete(){
        if ($("#search").val()==""){
          $("#complete").hide();
          hid=1;
          laststr="";
        }
        else
        if (laststr!=$("#search").val()){
          laststr=$("#search").val();
          auto_complete_post();
        }
      }
      $("#submit").click(function(e){
        e.preventDefault();
        search_post();
      });
    </script>
	</body>
</html>